body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.6vw;
    font-family: "Vollkorn", serif;
    font-weight: bold;
}

h2 {
    font-family: "Vollkorn", serif;
    font-size: 2.8vw;
    font-weight: normal;
}

p, li { font-size: 20px; }

sidebar {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    padding: 30px 40px;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-family: "Officina Sans";
    font-weight: bold;
    font-size: 2.8vw;
}

/* Logo */
.amazon { font-size: 3.3vw; }
.amazon sup { color: #F90; font-size: 50%; }
.rainforest { font-weight: normal; margin-left: -5px; }
.prime { color: #094; }

main section {
    position: absolute;
    left: 0; right: 0; top: 0;
    height: 100vh;
    transition: top 0.8s;
}

sidebar article {
    position: relative;
    left: 0; top: 100px;
    width: 40vw; height: 100vh;
    padding: 60px 40px;
    box-sizing: border-box;
    transition: opacity 0.2s;
}

main section {
    position: absolute;
    left: 0; right: 0; top: 0;
}

sidebar article h1 {
    font-size: 50px;
    margin: 0;
}

.image-stack-container {
    position: absolute;
    top: 0; right: 0;
    width: 60vw; height: 100vh;
    transition: width 0.5s;
}

.image-container {
    position: absolute;
    width: 100vw; height: 100vh;
    transition: left 0.6s;
}

.above { top: -100vh; }
.below { top: 100vh; }
.focus { top: 0; }
.above article, .below article { opacity: 0; }
.below .image-container { left: 0 !important; }
sidebar article p { transition: margin 1s 0.3s; }
.above article p { margin-top: -50px; }
.below article p { margin-top: 100px; }
.focus article {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0.4s;
}

#full-text {
    position: absolute;
    left: 50vw; right: 0;
    min-width: 40vw;
    padding: 50px;
    /* z-index: through-the-moon; */
    height: auto;
    z-index: 1000;
    background: white;
    transition: left 0.5s;
}

#full-text.collapsed {
    left: 100vw;
}

@font-face {
    font-family: "Officina Sans";
    src: url(/fonts/ITC-Officina-Sans-LT-Book-Logo.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Officina Sans";
    src: url(/fonts/ITC-Officina-Sans-LT-Bold-Logo.ttf);
    font-weight: bold;
}

/*Lato*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);