body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.6vw;
    font-family: "Vollkorn", serif;
    font-weight: bold;
}

h2 {
    font-family: "Vollkorn", serif;
    font-size: 2.4vw;
    font-weight: normal;
}

p, li { font-size: 20px; }

/*
.button {
    color: white;
    font-weight: bold;
    font-size: 25px;
    background: grey;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none: ;;
}

.button:hover {
    background: darkgrey;
}

#up-button {
    position: absolute;
    top: 100px;
}

#down-button {
    position: absolute;
    bottom: 100px;
}
*/

sidebar {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    padding: 30px 40px;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-family: "Officina Sans";
    font-weight: bold;
    font-size: 2.8vw;
}

.amazon { font-size: 3.3vw; }
.amazon sup { color: #F90; }
.prime { color: #094; }

main section {
    position: absolute;
    left: 0; right: 0; top: 0;
    transition: top 0.8s, 0.5s;
    height: 100vh;
}

sidebar article {
    position: relative;
    left: 0; top: 100px;
    width: 40vw; height: 100vh;
    padding: 60px 40px;
    box-sizing: border-box;
}

sidebar article h1 {
    font-size: 50px;
    margin: 0;
}

.image-stack-container {
    position: absolute;
    top: 0; right: 0;
    width: 60vw; height: 100vh;
}

.image-container {
    position: absolute;
    width: 100vw; height: 100vh;
}

.above { top: -100vh; opacity: 0; }
.below { top: 100vh; opacity: 0; }
.focus { top: 0; opacity: 1; }
.hidden { display: none; }

/*
@font-face {
    font-family: "Officina Sans";
    src: url(/fonts/ITC-Officina-Sans-LT-Book.ttf);
    font-weight: normal;
}
*/ 

@font-face {
    font-family: "Officina Sans";
    src: url(/fonts/ITC-Officina-Sans-LT-Bold-Webfont.ttf);
    font-weight: bold;
}

/*Lato*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);